* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

#section-navbar {
    width: 100%;
    height: 140px;
    background-color: #F1F6F9;
    border-color: #010101;
    border-bottom: 1px solid #000;
}

#section-navbar .desc-wisata {
    text-align: center;

}

#section-navbar .desc-wisata a {

    margin-right: 1em;
    color: #000;
    padding: 1em;
    margin-top: 1em;
}

#section-navbar .desc-wisata a:hover {
    color: rgba(221, 33, 221, 0.611);

}

#section-navbar .header {
    line-height: 50px;
    padding: 10px;
    color: black;
    text-align: center;

}

.header2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero {
    padding: 10px 7%;
    background-color: #fff;
}

.hero-image {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: inline-block;
    margin: 10px auto;
}

.hero-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.hero .main-content .content {
    margin-top: 1em;
}

.hero .main-content .header-content {
    margin-top: 1em;
}

.footer {
    border-top: 1px solid black;
    text-align: center;
    background-color: #F1F6F9;
    padding: 25px;
    color: #010101;
}

#cacaban .header2 {
    margin-top: 1.5em;
}

.table-main {
    margin-top: 1em;
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

td {
    border: 1px solid #010101;
    text-align: left;
    padding: 8px;
}

.table-main .table-content {
    padding: 1em 2em;
    margin: 1em 5em;
}

.table-main .addres {
    padding: 1em 5em;
}



th {
    border: 1px solid #010101;
    text-align: center;
    padding: 1em;
}

h1,
p {
    margin: 1em auto;

}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input,
textarea {
    background-color: #fff;
    border: 1px solid #0a0a23;
    color: black;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #808080;
    border-color: white;
    min-width: 300px;
}

input[type="file"] {
    padding: 1px 2px;
}